/* .VideoGrid {
    width: 225px;
} */

.grid-row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.grid-row-sec {
    color: #808080;
}

.left-col {
    float: left;
    cursor: default;
}

.right-col {
    float: right;
}

.thumbnail-container {
    position: relative;
}

.video-length {
    background-color: rgba(0, 0, 0, .7);
    display: inline-block;
    margin: 3px;
    padding: 2px;
    position: absolute;
    bottom: 0;
    right: 0;

    pointer-events: none;
}

.video-views {
    background-color: rgba(0, 0, 0, .7);
    display: inline-block;
    margin: 3px;
    padding: 2px;
    position: absolute;
    bottom: 0;
    left: 0;

    pointer-events: none;
}

.like-dislike {
    height: 4px;
    margin: 0px;
}

.no-decoration-link-primary, .no-decoration-link-primary:visited, .no-decoration-link-primary:link {
    text-decoration: none;
    color: #ffffff;
}

.no-decoration-link-primary:hover, .no-decoration-link-primary:active {
    text-decoration: none;
    color: #ffffff;
}

.no-decoration-link-secondary, .no-decoration-link-secondary:visited, .no-decoration-link-secondary:link {
    text-decoration: none;
    color: #808080;
}

.no-decoration-link-secondary:hover, .no-decoration-link-secondary:active {
    text-decoration: none;
    color: #ffffff;
}

.showTransition, .hideTransition {
    -webkit-transition: visibility 0.3s linear, opacity 0.3s linear;
    -moz-transition: visibility 0.3s linear, opacity 0.3s linear;
    -o-transition: visibility 0.3s linear, opacity 0.3s linear;
}

.showTransition {
    opacity: 1;
    visibility: visible;
}

.hideTransition {
    opacity: 0;
    visibility: hidden;
}

/* Change preview transitions */
.changePreviewStart, .changePreviewEnd {
    -webkit-transition: visibility 0.5s linear, opacity 0.5s linear;
    -moz-transition: visibility 0.5s linear, opacity 0.5s linear;
    -o-transition: visibility 0.5s linear, opacity 0.5s linear;
}

.changePreviewStart {
    opacity: 1;
    visibility: visible;
}

.changePreviewEnd {
    opacity: 0;
    visibility: hidden;
}



.play-button-triangle {
    position: absolute;
    top: 0; bottom: 0; left: 45%;
    margin: auto;

    border-color: transparent transparent transparent white;
    border-style: solid;
    border-width: 30px 45px 30px 45px;
    width: 0px;
    height: 0px;

    pointer-events: none;
}
