.VideoGrid {
    width: 225px;
}

.grid-row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.grid-row-sec {
    color: #808080;
}

.left-col {
    float: left;
}

.right-col {
    float: right;
}

.video-length {
    background-color: #222;
}

.thumbnail-container {

}
